body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.search_header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#searchBar {
    font-size: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

#createTeaButton {
    position: fixed;
    text-align: center;
    right: 5%;
    bottom: 5%;
    font-size: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 85px;
    background-color: aquamarine;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tea-photo {
    flex: 1 0 300px;
    padding: 0 6px;
    float: center;
    width: 60%;
}

.tile {
    flex: 1 0 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.tile:hover {
    transform: scale(1.05);
}

dialog::backdrop {
    background-color: hsl(26 87.4% 68.5%);
    opacity: 0.5;
}

dialog {
    font-size: 16px;
}